<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!--   See Using Zendesk Garden:
    https://developer.zendesk.com/apps/docs/developer-guide/setup#using-zendesk-garden
    https://garden.zendesk.com/css-components/bedrock/
    https://garden.zendesk.com/css-components/utilities/typography/
   -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/@zendeskgarden/css-bedrock@7.0.21,npm/@zendeskgarden/css-utilities@4.3.0"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
  <link href="main.css" rel="stylesheet">
</head>
<body>
  <div id="content">

  </div>
  <footer>
    <a href="https://mysite.github.io/support" target="_blank">Report bugs</a>
  </footer>
  <script src="https://static.zdassets.com/zendesk_app_framework_sdk/2.0/zaf_sdk.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/handlebars@4.3.3/dist/handlebars.min.js"></script>
  <script type="module" src="main.js"></script>
  <script id="requester-template" type="text/x-handlebars-template">
    <table>
    <tr>
      <td>Customer:</td>
      <td class="data">{{name}}</td>
    </tr>
   {{#if tags}}
    <tr>
      <td>Tags:</td>
      <td class="data">{{#each tags}}{{this}} {{/each}}</td>
    </tr>
    {{/if}}
    <tr>
      <td>Added:</td>
      <td class="data">{{created_at}}</td>
    </tr>
    <tr>
      <td>Last signed in:</td>
      <td class="data">{{last_login_at}}</td>
    </tr>
    </table>
  </script>
  <script id="error-template" type="text/x-handlebars-template">
    <p>{{status}} - {{statusText}} error. Please report a bug at the link below.</p>
  </script>
</body>
</html>
